@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);


body {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}

:root {
    --BGCOLOR: rgb(127, 26, 26);
    --BORDERS: 1px solid hsla(0, 0%, 0%, 0.336);
    --TEXTCOLOR: white;
}

html {
    scroll-behavior: smooth;
}

#nav-container {
    width: 1200px;
    margin: 0 auto;
    height: 70px;
}

#nav-container img {
    float: left;
    padding-left: 2em;
}

.nav-bar {
    height: 70px;
    width: 100%;
    text-align: center;
    background-color: var(--BGCOLOR);
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;

}

.nav-bar img {
    float: left;
}

.nav-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.nav-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
}

.nav-bar li a {
    font-size: 18px;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 50px;

}

#text-navbar {
    color: var(--TEXTCOLOR);
}

.logo {
    padding-top: 10px;
}


header h1 {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 6rem;
    margin-bottom: 0;
    font-size: clamp(1.5rem, 5vh, 3rem);
}

header p {
    display: flex;
    justify-content: center;
    justify-items: center;

}

main {
    display: flex;
    gap: 0.5rem;
}



.left-aside {
    padding-left: 1.25rem;
    margin-right: 1rem;
    float: left;
    width: 25%;

}

#left-aside-id {
    list-style-type: none;
    padding: 0;
}

:where(aside li a, p a, .article-project a) {
    text-decoration: none;
    color: hsla(0, 66%, 45%, 0.774);
}

:where(aside li, li a:visited, p a:visited, .article-project a:visited) {
    color: red;
}

:where(aside li a:hover, a:focus, p a:hover, a:focus, .article-project a:hover, a:focus) {
    color: hsl(0, 66%, 45%);
    text-decoration: underline;
}

:where(aside li a:active, p a:active) {
    color: black;
}



.main-article {
    float: left;
    width: 42%;
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: var(--BORDERS);
    border-left: var(--BORDERS);

}

.right-aside {
    padding-right: 1rem;
    margin-left: 1em;
    float: right;
    width: 25%;

}

#right-aside-id {
    list-style-type: square;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

#right-aside-id-none {
    list-style-type: none;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.padding-left {
    padding-left: 2rem;
}

.fake-main {
    padding: 2rem 2rem 4rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.reviews {
    max-width: 25%;
    border: 2px solid black;
    border-radius: 25px;
    padding: 1rem;
}

.reviews .transparent {
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 0;
    margin-top: 0;
}

footer {
    position: sticky;
    background-color: var(--BGCOLOR);
    color: var(--TEXTCOLOR);
    text-align: center;
    padding: 0.5rem 0 0.5rem 0;
}

.article-project {
    padding: 1rem;
    display: flex;
    width: 50%;
    flex-direction: row;
    border: 1.5px solid var(--BGCOLOR);
    border-radius: 2rem;
}

.article-project img {
    height: auto;
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

.article-project figcaption {
    font-size: 1.5rem;
    color: red;
    text-align: center;
    display: inline-flex;
}

.projects {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


figure p {
    font-size: 1rem;
    text-align: center;
    padding-top: 1rem;
}

.skills {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 1rem;
    margin-bottom: 0;
    font-size: clamp(1rem, 4vh, 2rem);
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    grid-auto-flow: row dense;
    gap: 1rem;
    padding: 2rem 2rem 4rem 2rem;
}

.skills-grid li {
    --BGCOLOR: rgb(160, 62, 62);
    --BORDERS: 1.5px solid hsla(0, 0%, 0%, 0.336);
    list-style-type: none;
    padding: 1rem;
    border: var(--BORDERS);
    border-radius: 1rem;
    text-align: center;
    background-color: var(--BGCOLOR);
    color: var(--TEXTCOLOR);


}

.skills-grid li:hover {
    --BGCOLOR: rgb(127, 26, 26);
    --BORDERS: 1.5px solid hsla(0, 0%, 0%, 0.336);
    background-color: var(--BGCOLOR);
    border: var(--BORDERS);
}

.skills-grid li:nth-child(16) {
    grid-column-start: 2;
    grid-column-end: 3;
}

.skills-grid li:nth-child(17) {
    grid-column-start: 4;
    grid-column-end: 5;
}

.contact {
    display: flex;
    text-align: center;
    justify-content: center;
}

.contact li {
    list-style-type: none;
}


.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
    padding: 0.2rem;
}

.contact-item a {
    text-decoration: none;
    color: hsl(0, 66%, 45%);
}

.contact-item a:hover {
    color: hsl(0, 66%, 45%);
    text-decoration: underline;
}


    